In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

In [3]:
print ("Train data shape:", train.shape)
print ("Test data shape:", test.shape)

Train data shape: (1460, 81)
Test data shape: (1459, 80)

In [4]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
import matplotlib.pyplot as plt
plt.style.use(style='ggplot')
plt.rcParams['figure.figsize'] = (10, 6)

In [6]:
numeric_features = train.select_dtypes(include=[np.number])
numeric_features.dtypes

Id                 int64
MSSubClass         int64
LotFrontage      float64
LotArea            int64
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
MasVnrArea       float64
BsmtFinSF1         int64
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
TotRmsAbvGrd       int64
Fireplaces         int64
GarageYrBlt      float64
GarageCars         int64
GarageArea         int64
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
MiscVal            int64
MoSold             int64
YrSold             int64
SalePrice          int64
dtype: object

In [7]:
categoricals = train.select_dtypes(exclude=[np.number])
categoricals.describe()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,91,1460,1460,1460,1460,1460,1460,1460,...,1379,1379,1379,1379,1460,7,281,54,1460,1460
unique,5,2,2,4,4,2,5,3,25,9,...,6,3,5,5,3,3,4,4,9,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Gd,MnPrv,Shed,WD,Normal
freq,1151,1454,50,925,1311,1459,1052,1382,225,1260,...,870,605,1311,1326,1340,3,157,49,1267,1198

In [8]:
print (train.Street.value_counts(), "\n")

Pave    1454
Grvl       6
Name: Street, dtype: int64

In [9]:
print (train.SaleType.value_counts(), "\n")

WD       1267
New       122
COD        43
ConLD       9
ConLI       5
ConLw       5
CWD         4
Oth         3
Con         2
Name: SaleType, dtype: int64

In [10]:
# x=train['Street'].value_counts().index.tolist()
# print(x[0])

In [11]:
# print (train.MSZoning.value_counts(), "\n")
# print(type(train))

In [12]:
# a=train.pivot_table(index='MSZoning',values='SalePrice',aggfunc=np.median)
# b=a.sort_values(by=['SalePrice'])
# print(b)

In [13]:
# c=b['SalePrice'].index.tolist()
# d=b['SalePrice'].values.tolist()

In [14]:
    # y=train['MSZoning'].value_counts().index.tolist()
    # n=len(y)
    # def ham(x):
    #     for i in range(len(y)):
    #         if(x == c[i]): return d[i]/d[0]
    # train['MSZoning']=train['MSZoning'].apply(ham)

In [15]:
# condition_pivot = train.pivot_table(index='MSZoning', values='SalePrice', aggfunc=np.median)
# condition_pivot.plot(kind='bar', color='blue')
# plt.xlabel('MSZoning')
# plt.ylabel('Median Sale Price')
# plt.xticks(rotation=0)
# plt.show()

In [16]:
def encode(name):
    a=train.pivot_table(index=name,values='SalePrice',aggfunc=np.median)
    b=a.sort_values(by=['SalePrice'])
    c=b['SalePrice'].index.tolist()
    d=b['SalePrice'].values.tolist()
    y=train[name].value_counts().index.tolist()
    n=len(y)
    def ham(x):
        for i in range(len(y)):
            if(x == c[i]): return round(d[i]/d[0],2)
    train[name]=train[name].apply(ham)

In [17]:
columns=['MSZoning','Street','Alley','LotShape','LandContour','Utilities','LotConfig','LandSlope','Neighborhood','Condition1','Condition2','BldgType','HouseStyle','SaleType','SaleCondition','ExterCond','ExterQual','Foundation','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2', 'RoofStyle','RoofMatl','Exterior1st','Exterior2nd','MasVnrType','Heating','HeatingQC', 'CentralAir','Electrical','KitchenQual','Functional',
 'FireplaceQu','GarageType','GarageFinish','GarageQual','GarageCond','PavedDrive']

In [18]:
len(columns)

40

In [19]:
for i in range(len(columns)):
    encode(columns[i])

In [20]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,2.33,65.0,8450,1.43,NaN,1.00,1.17,1.19,...,0,NaN,NaN,NaN,0,2,2008,1.36,1.54,208500
1,2,20,2.33,80.0,9600,1.43,NaN,1.00,1.17,1.19,...,0,NaN,NaN,NaN,0,5,2007,1.36,1.54,181500
2,3,60,2.33,68.0,11250,1.43,NaN,1.29,1.17,1.19,...,0,NaN,NaN,NaN,0,9,2008,1.36,1.54,223500
3,4,70,2.33,60.0,9550,1.43,NaN,1.29,1.17,1.19,...,0,NaN,NaN,NaN,0,2,2006,1.36,1.25,140000
4,5,60,2.33,84.0,14260,1.43,NaN,1.29,1.17,1.19,...,0,NaN,NaN,NaN,0,12,2008,1.36,1.54,250000

In [22]:
numeric_features = train.select_dtypes(include=[np.number])
numeric_features.describe()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
count,1460.000000,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,91.000000,1460.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,2.227048,70.049958,10516.828082,1.428233,1.198242,1.113130,1.181733,1.189870,...,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,1.418651,1.584219,180921.195890
std,421.610009,42.300571,0.299925,24.284752,9981.264932,0.027518,0.220134,0.153112,0.089700,0.004973,...,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,0.221532,0.247971,79442.502883
min,1.000000,20.000000,1.000000,21.000000,1300.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,1.000000,1.000000,34900.000000
25%,365.750000,20.000000,2.330000,59.000000,7553.500000,1.430000,1.000000,1.000000,1.170000,1.190000,...,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,1.360000,1.540000,129975.000000
50%,730.500000,50.000000,2.330000,69.000000,9478.500000,1.430000,1.000000,1.000000,1.170000,1.190000,...,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,1.360000,1.540000,163000.000000
75%,1095.250000,70.000000,2.330000,80.000000,11601.500000,1.430000,1.440000,1.290000,1.170000,1.190000,...,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,1.360000,1.540000,214000.000000
max,1460.000000,190.000000,2.760000,313.000000,215245.000000,1.430000,1.440000,1.510000,1.590000,1.190000,...,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,2.320000,2.350000,755000.000000

In [200]:
train.to_csv('train3.csv')